.idea
venv/
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sql
.env
qodana.yaml
db.sqlite3/
db.sqlite3
.venv/
backups/
backups/*
backups
assets/staticfiles/
assets/staticfiles/*
assets/media/*
assets/media/
assets/client_secret_*.json
assets/client_secret_367993672441-sg99c5dmc7padjbirvok3esbi8j8j0cj.apps.googleusercontent.com.json